* {
box-sizing: border-box;
}



body {
  font-family:'Rubik', sans-serif;
  font-size:14px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* SIDEBAR */



.main-content {
 float: right;
 width: 87%;
}

.sidebar {
  background-color: #354052;
  color: #aeb3ba;
  float: left;
  height: 197vh;
  width: 13%;
}

.sidebar-border {
  border: 1px solid black;
}

.username {
  text-align: center;
}

.username h1 {
  font-size: 14px;
  margin: 10px 0 25px 0;
  padding-bottom: 5px;
  padding-top: 3px;
}

.user-img {
  border-radius: 80px;
  height: 85px;
  margin-top: 30px;
  width: 85px;
}

.sidebar h2 {
  color: #5c677d;
  font-size: 14px;
  padding: 15px 4px 11px 17px;
}

.main, .admin {
padding-bottom: 8px;
}

li {
  margin-left: -22px;
  padding-bottom: 23px;
  }

.side-bar-checkbox-area {
  padding-left: 30px;
  width: 100%;
  height: 250px;;
}

.checkbox-size {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  position: relative;
  top: 5px;
  right: 8px;
}
.checkbox-size:active,
.checkbox-size:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox-size:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.checkbox-size:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 1px;
  color: #000;
}

.yellow-checkbox {
  background-color: #ffda44;
}

#admin {
  margin-bottom: 5px;
  margin-left: 18px;
  margin-top: -11px;
  padding-bottom: 20px;
  padding-right: 45px;
}

.blue-checkbox {
  background-color: #006df0;
}

#design, #admin, #exec,#hr {
  margin-bottom: 5px;
  margin-left: 18px;
  margin-top: -11px;
  padding-bottom: 20px;
  padding-right: 45px;
}

#hr-text{
  display:inline-block;
  margin-bottom: 5px;
  margin-right: -11px;
  margin-left: -3px;
  margin-top: -11px;
  padding-bottom: 20px;
  padding-right: 45px;
  }

.red-checkbox {
  background-color: #ea0863;
}

.green-checkbox {
  background-color: #06b495;
}

.sidebar li:hover {
  background-color: #30394a;
  color: #ffffff;
  cursor: pointer;
}

.sidebar li img {
  height: 15px;
  margin-right: 11px;
  width: 15px;
}


/* SEARCH BAR - HEADER AREA */

.search-bar {
  border-bottom: 1px solid #aeb3ba;
  display: flex;
  flex-direction: row;
  min-height: 8vh;
  width: 100%;
}

.search-bar div {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.search-bar div:hover {
  background-color: #15a2f6;
}

.search-bar img {
  width: 16px;
  height: 16px;
}

.search-left, .search-right {
  background-color: #ffffff;
  border-left: 2px solid #aeb3ba;
  min-height: 7%;
  width: 5%;
}

.hamburger {
  border-left: none;
}

.search-input {
  border: none;
  flex-grow: 6;
  font color: #4e565d;
  font-size: 16px;
}

.title {
  font-size: 16px;
}

.job-title {
  min-height: 20vh;
  width: 100%;
}

.description {
  font-size: 16px;
}

.job-title span {
  color: #87c7ed;
}

.job-title h1 {
  color: #4e565d;
  font-size: 24px;
  margin-top: -8px;
}

.job-title h3 {
  color: #aeb3ba;
  font-size: 12px;
}

.job-title span {
  padding-left: 5px;
  cursor: pointer;
}

.job-title img {
  border: 1px solid #aeb3ba;
  border-radius: 25px;
  cursor: pointer;
  height: 30px;
  margin: 0 10px;
  padding: 5px;
  width: 30px;
}

.job-title img:first-child {
  border: none;
  height: 15px;
  margin: 0;
  padding: 0;
  width: 15px;
}

.job-title-left {
  float: left;
}

.job-title-right {
  display: flex;
  float: right;
}

.job-title-left, .job-title-right {
  margin: 40px 40px;
}

.open {
  align-items: center;
  border: 1px solid #aeb3ba;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.open h3 {
  font-size: 10px;
  font-weight: 700;
  margin: 0 10px;
}

.open-button {
  border-radius: 5px;
  background-color: #86c23e;
  height: 10px;
  margin-left: 10px;
  width: 10px;
}

.nav-links {
  float: left;
  margin: -10px 40px;
  width: 100%;
}

.nav-links a:first-child {
  color: #4e565d;
}

.nav-links a {
  border-bottom: 2px solid transparent;
  color: #aeb3ba;
  cursor: pointer;
  float: left;
  font-weight: 700;
  font-size: 12px;
  margin-right: 60px;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 2px solid #15a2f6;
}

/* GRAPH AREA */
.numbers {
  background-color: #edf2f6;
  border-top: 2px solid #e5e9ed;
  float: right;
  margin-top: 33px;
  min-height: 165vh;
  width: 100%;
}

.stats {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
}

.stats button {
  background-color: #ffffff;
  border: 2px solid #aeb3ba;
  border-radius: 24px;
  color: #4e565d;
  cursor: pointer;
  font-weight: 700;
  height: 27px;
  padding: 7px 12px 7px 12px;
  position: relative;
}

.circles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  width: 60%;
  margin-top: 10px;
}

.circles h1 {
  color: #4e565d;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: -2px;
}

.circles span {
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.green, .blue, .red {
  align-items: center;
  border-radius: 150px;
  color: #4e565d;
  display: flex;
  height: 147px;
  justify-content: center;
  margin: 30px 30px;
  text-align: center;
  width: 147px;
}

.green span, .blue span, .red span {
  color: #aeb3ba;
}

.green {
  border: 10px solid #42b7c6;
  border-right-color: #d8e1e8;
}

.blue {
  border: 10px solid #d8e1e8;
  border-left-color: #15a2f6;
  border-bottom-color: #15a2f6;
}

.red {
  border: 10px solid #d8e1e8;
  border-left-color: #ac65b1;
}

.graph {
  float: right;
  margin-right: 30px;
  text-align: center;
  width: 40%;
}

.graph img {
  height: 200px;
  margin-top: 20px;
  width: 475px;
}

.line-break {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 98%;
}

.line-break img {
  border-radius: 30px;
  height: 45px;
  padding: 5px;
  width: 45px;
}

.line-break hr {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

/* JOB TABLE */

.job-details {
  background-color: #ffffff;
  float: left;
  margin: 30px 0 0 35px;
  width: 60%;
}

.job-headline {
  background-color: #6f7e95;
  color: #ffffff;
  display: flex;
  height: 60px;
  width: 100%;
}

.job-headline h1 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 40px 20px 30px;
}

.edit {
  background-color: #7988a3;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  margin-top: 15px;
  width: 80px;
  text-decoration: none;
  text-transform: uppercase;
}

.edit img {
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

 .table-details tr {
  border-bottom: : 2px solid #aeb3ba;
}

.table-details th,tr:last-child {
  border-bottom: none;
}

.table-details th,tr:first-child{
  border-top: none;
}

.title {
  color: #4e565d;
  display: flex;
  font-weight: 700;
  margin: 25px 60px 30px 30px;
  width: 100%;
}

.description {
  border-top: 1px solid #aeb3ba;
  color: #aeb3ba;
  padding-bottom: 10px;
  padding-right: 100px;
  padding-top: 10px;
  width: 100%;
}

#position-title{
  color: #aeb3ba;
  padding-bottom: 8px;
  padding-right: 100px;
  width: 100%;
}

.description span {
  font-weight: 700;
}

.description img {
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  width: 50px;
  float:left;
}

.hiring-mgr{
  float: right;
  margin-right: 300px;
  padding-top: 19px;
  position: relative;
}

/* SOCIAL MEDIA */

.social-links {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 20px 40px 0 0;
  width: 30%;
}

.social-links button {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  margin: 10px auto;
  text-decoration: none;
}

.social-links button img {
  height: 24px;
  margin: 0px 85px 0px 10px;
  width: 24px;
}

.social-links h1 {
  color: #4e565d;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -1px;
}

.social-links h1 img {
  height: 18px;
  margin-right: 10px;
  width: 18px;
}

.social-links p {
  color: #aeb3ba;
  margin-bottom: 14px;
}

.social-links div {
  margin: 8px 2px 2px 0px;
}

.link-to-job, .button-widget {
  border-bottom: 1px solid #aeb3ba;
}

.facebook {
  align-items: center;
  background-color: #3b5998;
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.twitter {
  align-items: center;
  background-color: #50abf1;
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.linkedin {
  align-items: center;
  background-color: #007ab9;
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.copy {
  background-color: #43b6c1;
  width: 15%;
}

.social-links div input {
  font-size: 14px;
  height: 40px;
  padding-left: 5px;
  width: 80%;
}

.social-links div input:last-child {
  width: 100%;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1100px) {
  .sidebar {
    display:none
  }

  .main-content {
    width: 100%;
  }

  .stats {
    align-items: center;
    display: flex;
  }

  .circles {
    width: 50%;
  }

  .green, .blue, .red {
    height: 125px;
    margin: 20px 10px 40px 11px;
    width: 125px;
  }

  .graph {
    margin-right: 0;
    width: 50%;
  }

  .graph img {
    width: 500px;
  }

  .social-links h1 {
    margin-bottom: 20px;
  }

  .social-links button img {
    margin: 0px 70px 0px 10px;
  }
}

@media screen and (max-width: 900px) {
  .stats {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .circles {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .graph {
    width: 70%;
  }

  .graph img {
    width: 550px;
  }

  .job-description {
    position:absolute;
  }

  .social-links div input {
    width: 75%;
  }

  .copy {
    width: 18%;
  }

  .social-links div {
    margin: 15px 0 50px 0;
  }

  .social-links p {
    margin-bottom: 18px;
  }

  .social-links button img {
    margin: 0px 45px 0px 10px;
  }
}

@media screen and (max-width: 775px) {
  .nav-links {
    display: none;
  }

  .circles {
    width: 75%;
  }

  .graph img {
    width: 450px;
  }

  .job-title {
    display: flex;
    flex-direction: column;
  }

  .job-title-left, .job-title-right {
    margin: 20px 40px 10px 20px;
  }

  .job-details {
    width: 90%;
  }

  .social-links {
    display: inline-block;
    width: 90%;
  }

  .facebook, .twitter, .linkedin {
    width: 100%;
  }

  .social-links div {
    display: inline-block;
    width: 32%;
  }

  .link-to-job, .button-widget {
    border-bottom: none;
  }

  .social-links h1 {
    font-size: 14px;
  }

  .social-links p {
    font-size: 12px;
  }

  .social-links div input {
    width: 70%;
  }

  .resume-upload input{
    margin-top: 6px;
  }

  .copy {
    width: 20%;
  }

  .social-links button img {
    margin: 0px 235px 0px 10px;
  }
}

@media screen and (max-width: 550px) {
  .search-input {
    display: none;
  }

  .search-bar div {
    width: 20%;
  }

  .search-bar img {
    height: 24px;
    width: 24px;
  }

  .job-title-right img {
    height: 20px;
    width: 20px;
  }

  .circles {
    flex-direction: column;
  }

  .graph img {
    width: 325px;
  }

  .job-details {
    width: 90%;
  }

  .social-links {
    margin-right: 20px;
    width: 90%;
  }

  .social-links div {
    display: inline-block;
    width: 30%;
    margin: 10px 5px;
  }

  .copy {
    width: 30%;
  }

  .social-links button img {
    margin: 0px 160px 0px 10px;
  }

  .social-links div input {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  /*.graph img {
    width: 250px;
  }
*/
  .job-details {
    margin: 20px 20px;
    width: 90%;
  }

  .description {
    padding: 0 5px 20px 0;
  }

  .social-links button img {
    margin: 0px 90px 0px 10px;
  }

  .social-links div {
    width: 90%;
    margin: 10px 5px;
  }

  .social-links div input {
    width: 65%;
  }
}

@media screen and (max-width: 320px) {
  .graph img {
    display: none;
  }

  .title {
    margin-left: 5px;
    margin-right: 20px;
  }

  .job-details {
    margin: 20px 15px 0 15px;
  }

  .social-links button img {
    margin: 0px 60px 0px 10px;
  }

  .social-links div input {
    width: 60%;
  }